__pycache__/
*.pyc
.env
.aws-sam/
node_modules/
lambda/__pycache__/
lambda/bin/
lambda/boto3/
lambda/botocore/
lambda/certifi/
lambda/charset_normalizer/
lambda/dateutil/
lambda/idna/
lambda/jmespath/
lambda/python_dateutil-*/
lambda/requests/
lambda/requests_toolbelt/
lambda/s3transfer/
lambda/six*/
lambda/urllib3/
lambda/*.dist-info/
lambda/*.egg-info/